MNEMONIC=

ROPSTEN_INFURA_SERVER=https://ropsten.infura.io/
RINKEBY_INFURA_SERVER=https://rinkeby.infura.io/
MAINNET_INFURA_SERVER=https://mainnet.infura.io/

GAS_PRICE=40010000000
GAS_LIMIT=5000000
TIMEOUT=30

GETH_REMOTE_URL=
GETH_USER=
GETH_PASSWORD=

TRUFFLE_NETWORK_ALIAS=remote